.contact-modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    place-items: center;

    &__background {
        position: absolute;
        inset: 0;
        background: rgb(0 0 0 / 70%);
        backdrop-filter: blur(12px);
    }

    &__card {
        z-index: 3;
        width: 250px;
        height: 500px;
        background-color: rgb(141 140 140);
    }

    &.is-open {
        display: grid;
    }
}
