@use '../vars' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    height: var(--header-height);
    padding: 0 #{$unit * 5};
    background-color: #1e1e1e;
}

.header-logo {
    color: #304dc0;

    span {
        color: #e8e8e8;
    }
}

// Navigation:
#header-toggle {
    display: none;
}

label[for='header-toggle'] {
    width: #{$unit * 5};
    height: #{$unit * 5};
    background: darkcyan;

    #header-toggle:checked + & {
        background: darkred;
    }
}

.header-nav {
    display: none;

    #header-toggle:checked ~ & {
        display: block;
    }
}

// Language Switcher
#lang-switcher {
    display: flex;
}
