@use '../vars' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: var(--header-height);
    padding: 0 #{$unit * 5};
    background-color: #1e1e1e;
}

.header-logo {
    color: #304dc0;

    span {
        color: #e8e8e8;
    }
}

// Navigation:
.header-nav-toggle {
    background-color: darkgreen;

    &.is-open {
        background-color: darkred;
    }
}

.header-nav {
    display: none;

    &.is-open {
        display: block;
    }

    @include md {
        display: block;
    }
}

.header-nav-toggle {
    @include md {
        display: none;
    }
}

// Language Switcher
.lang__list {
    display: none;

    &.is-open {
        display: flex;
    }
}
