@use '../vars' as *;

#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hello {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeSlideDown 0.6s ease-out forwards;
}

@keyframes fadeSlideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
