@use './vars' as *;

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/montserrat-latin-400-normal.woff2') format('woff2');
    font-display: optional;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --header-height: #{$unit * 14}; // 56px

    @include md {
        --header-height: #{$unit * 16}; // 64px
    }

    @include lg {
        --header-height: #{$unit * 18}; // 72px
    }
}

html {
    text-size-adjust: none;
}

body,
input,
button,
textarea,
select {
    font-family: Montserrat, Arial, sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    color: #111;
    background-color: #a9a9a9;
}

ul {
    list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        scroll-behavior: auto !important;
        background-attachment: initial !important;
        transition-delay: 0s !important;
        transition-duration: 0.01ms !important;
        animation-duration: 0s !important;
        animation-delay: 0s !important;
    }
}
